html {
  font-family: sans-serif;
  color: #444;
}

body {
  margin: 0;
}

h3 {
  margin: 0px;
}

ul {
  padding: 0px;
}

.container {
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  font-size: 16px;
  color: #fff;
  background-color: #bbb;
}

@media (min-width: 421px) {
  .container {
    width: 420px;
    margin: 0 auto;
  }
}